<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--relacionadas con la base de datos-->
    <add key="rutaIniFile" value="C:/connectionDatabase.ini"/>
    <add key="firstSection" value="[OdbcInformixServer]"/>
    
    <!--ApplicationInsights-->
    <add key="instrumentationKey" value="key"/>
  </appSettings>
</configuration>